
.idea/

*.txt

SVM_hotel/front/HelloWorld/HelloWorld/__pycache__/

*.csv

SVM_hotel/train/word2vec/

*.m

.DS_Store

*.zip

*.pkl

music_recommend/track_metadata.db

*.pyc

基于Movielens数据集的电影推荐系统/learning/runs/1588070745/summaries/inference/

基于Movielens数据集的电影推荐系统/learning/runs/1673161383/summaries/inference/

*.data-00000-of-00001

基于Movielens数据集的电影推荐系统/learning/ml-1m/

基于Movielens数据集的电影推荐系统/django/mysite/connTest/

基于Movielens数据集的电影推荐系统/wechatdevs/

护肤品推荐系统报告/数据集/

*.p

基于Movielens数据集的电影推荐系统/django/mysite/

基于Movielens数据集的电影推荐系统/learning/runs/1673161383/summaries/train/events.out.tfevents.1673161383.lhc456deMacBook-Pro.local

基于Movielens数据集的电影推荐系统/learning/

今日热点新闻推荐系统/system/venv/Lib/site-packages/bs4/

今日热点新闻推荐系统/system/venv/Lib/site-packages/chardet/

今日热点新闻推荐系统/system/venv/Lib/site-packages/joblib/

今日热点新闻推荐系统/system/venv/Lib/site-packages/matplotlib/

今日热点新闻推荐系统/system/venv/Lib/site-packages/numpy/

今日热点新闻推荐系统/system/venv/Lib/site-packages/PIL/

今日热点新闻推荐系统/system/venv/Scripts/

今日热点新闻推荐系统/system/venv/
